@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header
    {
           font-family: 'Montserrat', sans-serif;
         background-color: #1a2e408f;
        height: 120px;
        position: fixed;
        top: 0;         
        left: 0;         
        width: 100%;     
         border-radius: 0 0 20px 20px;
         display: flex; 
        justify-content: space-between; 
        align-items: center;   
    
    }

body

    {
         font-family: 'Montserrat', sans-serif;
        color: #F5F5F3;
        font-style: normal;
        font-size:x-large;
        padding-top: 125px; 
        background-image:  url("trabalhooscar/img/foto\ de\ fundo.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    }



a:link
    {
        color: #F5F5F3;
         font-family: 'Montserrat', sans-serif;
    }

nav 
    {
    display: block;

    }

.logo
    {
width: 80px; 
    margin-left: 90px;
    }
p{
        
     text-align: left;
     font-size: 35px;
    font-weight: 100;

}

p.escrita{
    margin-left: -250px;
}

footer 
    {
        background-color: #1a2e40;
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 20px 0;    
        position: sticky;
        left: 0;
        top: 25px;
        bottom: 0;
    }

    #a{
        gap: 30px;
        display: flex;
        padding-right: 35px;
        margin-right: -5px;
    }


    h1
    {        text-align: left;
        font-size: 70px;
        border-bottom: 3px solid white
    } 
    .projetos-port{

     background-color: rgba(26, 46, 64, 0.75);
     font-size: 100px;
     font-style: italic;
     font-weight: 200;
    max-width: 1095px;
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
margin-left: 50px;
margin-top: 45px;
margin-bottom: -110px;
    }

h2{
     text-align: left;
     font-size: 70px;
     border-bottom: 3px solid white

}

.projetos{

     background-color: rgba(26, 46, 64, 0.80);
     font-size: 70px;
     font-style: italic;
       font-weight: 200;
    max-width: 850px;
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
margin-left: 100px;
margin-top: 150px;
margin-bottom: 1;
 white-space: nowrap;
      display: inline-block;

}
#inter{
    margin-top: 80px; 
    max-width: fit-content;
}

#outras{
    max-width: fit-content;
}


h3{
    font-family: 'Montserrat', sans-serif;
     text-align: left;
     font-size: 40px;
    border-bottom: 3px solid white

}

.obra{
         background-color: rgba(26, 46, 64, 0.80);
     font-style: italic;
       font-weight: 200;
    max-width: 450px;
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
 margin-left: 120px;
 margin-top: 10px;
 margin-bottom: 40px;
 white-space: nowrap;
     display: block;
}
#stf, #catedral,#onu, #franca,#jk, #latina,  #niteroi{
     max-width: fit-content;
}


.container-flex {
  display: flex;          
  gap: 30px;          
}

.fotos-obras{
    width: 695px;
    height:595x;
    border-radius: 10px;
     margin-left: 160px;
     max-width: 100%;  
  height: auto;
  margin-bottom: 90px;

}


.descricao{
      background-color: rgba(26, 46, 64, 0.70);
    text-align: center;
     padding: 4px 15px 4px 20px;
     width: 695px; 
    margin-left: 90px;
    margin-top: -10px;

}
body#rede {
    background-image: url('trabalhooscar/img/insta fake.jpeg') !important;
}

body#empresa {
    background-image: none !important;
   background-color: #22252a !important;
}
.atlas
    {
        font-family: 'Share Tech', monospace;
         background-color: #4c718c;
    }

p.escrita#memoriae{
font-family: 'Share Tech', monospace !important;
    color: #9c1612 !important; 
margin-left: -375px;
margin-top: 60px;
font-size: 60px;
text-decoration: underline;

}
nav#b{
            margin-top:25px;
            font-size: 30px;
            color: #F5F5F3;
            margin-right: 50px;
            gap: 20px;
           display: flex;
}

#simbolo{
margin-top: 15px;
    width:500px;
    height:500px;
    margin-bottom: 100px;s
}

#foto-site{
margin-left: -50px;
}

#apresentacao{
    font-family: 'Share Tech', monospace !important;
    color: #F5F5F3;
      background-color: rgba(189,186,185,0.70);
    width:950px;
    height:350px;
    border-radius: 20px;
    margin-top: 90px;
    margin-right: 50px;
    padding: 40px;
    box-sizing: border-box;
    font-size:35px;
}

 #apresentacao-site{
     font-family: 'Share Tech', monospace !important;
    color: #F5F5F3;
      background-color: rgba(189,186,185,0.70);
    width:950px;
    height:350px;
    border-radius: 20px;
    margin-top: 90px;
    margin-right: 50px;
    padding: 60px;
    box-sizing: border-box;
    font-size:35px;
 }
#ana, #fabio, #larry, #thauany{

      font-family: 'Share Tech', monospace !important;
    color: #F5F5F3;
      background-color: rgba(189,186,185,0.70);
    width:950px;
    height:350px;
    border-radius: 20px;
    margin-top: 90px;
    margin-right: 50px;
    padding: 80px;
    box-sizing: border-box;
    font-size:35px;
 }


#conheca, #sites, #membros{
font-family: 'Share Tech', monospace !important;
color: #9c1612;
text-decoration: none;
border-bottom: none;
margin-bottom: -45px;
margin-left: 630px;
font-size: 90px;
}

.nos{
width: 50px; 
height: 50px;
object-fit: cover;
border-radius: 10px; 
margin-left: 50px;
}

table
    {
    width: 100%;
    border-collapse: collapse; 
    }
.primeiralinha
    {
        display: flex;
        flex-direction: row;
    }
.quadrados
    {
        background-color: white;
        border-radius: 15px;
        color: #22252a;
        padding: 16px;
        margin: 24px;
    }
th {
        border-bottom: 2px solid #333;
        background-color: #f9f9f9;
}
th, td 
{
        border-bottom: 1px solid #ddd;
        padding: 12px;                   
        text-align: left;
}