@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');


header {
    background-color: #070708;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body {

    color: #F5F5F3;
    font-style: normal;
    font-size: x-large;
    padding-top: 125px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("trabalhooscar/img/foto\ de\ fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;

}



a:link {
    color: #F5F5F3;

}

nav {
    display: block;

}

.logo {
    width: 80px;
    margin-left: 90px;
}

p {

    text-align: justify;
    font-size: 25px;
    font-weight: 100;


}
.inf-bio{
    padding-left: 20px;
    padding-top: 50px;
}

p.escrita {
    margin-left: -400px;
    font-size: 40PX;
}

footer {
    background-color: #070708;
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 20px 0;
    left: 0;
    top: 25px;
    bottom: 0;
}

#a {
    gap: 30px;
    display: flex;
    padding-right: 35px;
    margin-right: -5px;
}


h1 {
    text-align: left;
    font-size: 50px;
    border-bottom: 3px solid white;
    border-radius: 20px;
        padding: 10px 15px 10px 20px;
}

.projetos-port {


    font-size: 90px;
    font-weight: 200;
    max-width: 730px;
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
    margin-left: 75px;
    margin-top: 45px;
    margin-bottom: -110px;

}

h2 {
    text-align: left;
    font-size: 70px;
    border-bottom: 3px solid white
}

.projetos {


    font-size: 70px;

    font-weight: 200;
    max-width: 850px;
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
    margin-left: 75px;
    margin-top: 180px;
    margin-bottom: 1;
    white-space: nowrap;
    display: inline-block;

}

#inter {
    margin-top: 80px;
    max-width: fit-content;
}

#outras {
    max-width: fit-content;
}


h3 {
    text-align: left;
    font-size: 50px;
  
}

.obra {

    font-weight: 200;
    max-width: 450px;
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 40px;
    white-space: nowrap;
    display: block;
      border-bottom: 3px solid white
}

#stf,
#catedral,
#onu,
#franca,
#jk,
#latina,
#niteroi {
    max-width: fit-content;
}


.container-flex {
    display: flex;
    gap: 200px;
    margin-left: 75px;  
    margin-right: 30px; 
    align-items: stretch; 
}

.fotos-obras {
    width: 750px;
    height: 400px;
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 90px;
}

.descricao {
    box-sizing: border-box; 
    color: #f5f5f3;
    background-color: #070708;
    text-align: justify;
    padding: 25px;
    align-items: center;
    width: 695px; 
    display: flex;
    border-radius: 20px;
    height: 400px;
    margin-bottom: 90px; 
    margin-top: 0px;
    overflow-y: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

.primeiralinha {
    display: flex;
    flex-direction: row;

}

.quadradoslinha {
    background-color: #070708;
    border-radius: 15px;
    color: 070708;
    padding: 16px;
    margin: 24px;
}

th {
    border-bottom: 2px solid 070708;
    background-color: #f9f9f9;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}