header
    {
        background-color: #1a2e408f;
        height: 120px;
        position: fixed;
        top: 0;         
        left: 0;         
        width: 100%;     
         border-radius: 0 0 20px 20px;
         display: flex; 
        justify-content: right; 
        align-items: center;   
    }

body

    {
        font-family: "Sniglet", system-ui;
        color: #F5F5F3;
        font-style: normal;
        font-size:x-large;
        padding-top: 125px; 
        background-image:  url("trabalhooscar/img/páginas/backgroundIMG.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
    }

h1
    {
        text-align: right;
        font-size: px;
    }

a:link
    {
        color: #F5F5F3;
    }

nav 
    {
    display: block;
    margin-right: 50px;
    }

.logo
    {
        display: flex ;
        float: left;
        margin-right: auto; 
        width: 80px; 
        margin-left: 50px;
    }


footer 
    {
        background-color: #1a2e40;
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 20px 0;    
        position: sticky;
        left: 0;
        top: 25px;
        bottom: 0;
    }